<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Luis Felipe Landa. It uses information from mapbox.com and Weatherstack to obtain the weather temperature in the specified location.</p>
            <img class="portrait" src="/img/totem.jpg" alt="A cool ass totem">
        </div>
        
        {{>footer}}
    </body>
</html>